
html,
body {
    margin: 0;
    line-height: 1.5;
    font-family: var(--font-display);
    font-weight: var(--fw-body);
}

header, footer {
    padding: 16px;
    /*border-bottom: 1px solid #ddd;*/
}

footer {
    /*border-top: 1px solid #ddd;*/
    border-bottom: none;
}

nav {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/*main {*/
/*    max-width: 900px;*/
/*    margin: 0 auto;*/
/*    padding: 32px 16px;*/

/*}*/
