@font-face {
    font-family: "Neue Helvetica Condensed";
    src: url("public/fonts/HelveticaNeue-CondensedBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}